body{
    background-color: #0D0C0C ; /* 0D0C0C */
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.QuizContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 90vh;
}

.QuizBox {
    width: 100%;
    max-width: 450px;
    background: #111;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 6px 20px rgba (0,0,0,0.4); /*this is good enough*/
    transition: transform 0.3s ease;
}

.QuizBox:hover{
    transform: scale(1.02);
}

.QuestionText{
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.Options{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.OptionBtn{
    background-color: #222;
    padding: 12px;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #444;
    cursor: pointer;
    transition: all 0.25s ease;
    font-size: 1rem;
}

.OptionBtn:hover{
    background-color: #333;
    transform: translateY(-2px);
}

.Selected{
    background-color: #d3403b;
    border-color: #d3403b;
    transform: scale(1.05);
}

.SubmitBtn{
    margin-top: 25px;
    padding: 12px;
    width: 100%;
    border: none;
    background:#d3403b;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1.2rem;
    transition: background 0.3s ease;
}

.SubmitBtn:hover{
    background: #b22e29;
}

.ScoreText{
    margin-top: 20px;
    color: #d3403b;
    font-size: 1.8rem;
    font-weight: bold;
}


/*This is for the adjustments */

@media (max-width: 480px){
    .QuizBox{
        padding: 15px;
    }
    .QuestionText{
        font-size: 1.1rem;
    }
    .OptionBtn{
        font-size: 0.95rem;
        padding: 10px;
    }
    .SubmitBtn{
        font-size: 1rem;
        padding: 10px;
    }
    .ScoreText{
        font-size: 1.5rem;
    }
}

